.cta {
    background-color: $c-yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    article {

    }
    h1 {
        font-size: 6rem;
        text-align: center;
    }

    p {
        font-size: 3rem;
        @media screen and ( min-width: $mobile ) and ( max-width:  $tablet ) {
            text-align: center;
        }
    }
}
