.frontpage {
    background: -webkit-linear-gradient($c-yellow 0%, $c-yellow 33%, $c-blue 33%, $c-blue 66%, $c-red 66%, $c-red 100%);
    background: -o-linear-gradient($c-yellow 0%, $c-yellow 33%, $c-blue 33%, $c-blue 66%, $c-red 66%, $c-red 100%);
    background: linear-gradient($c-yellow 0%, $c-yellow 33%, $c-blue 33%, $c-blue 66%, $c-red 66%, $c-red 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    h1 {
        text-align: center;
        color: $c-white;
        font-size: 6rem;
        @include base-text-shadow( $c-black );
        @media screen and ( min-width: $mobile ) and ( max-width:  $tablet ) {
            font-size: 4rem;
            padding: 0 1em;
        }
    }
    &__arrow-down {
        width: 40px;
        height: 40px;
        display: block;
        transform: rotate(45deg);
        background-color: transparent;
        border: 1px solid transparent;
        position: absolute;
        padding: 0;
        z-index: 100;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        bottom: 20px;
        animation: 1.5s pulse infinite;
        right: calc( 50% - 28.28px);
    }
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1) rotate(45deg);
      }

      50% {
        transform: scale3d(1.05, 1.05, 1.05) rotate(45deg);
      }

      to {
        transform: scale3d(1, 1, 1) rotate(45deg);
      }

}
