.mp {
    display: none;
    background-color: $c-red;
    color: $c-white;
    flex-direction: column;
    article {
        padding: 2em;
        border: 2px solid $c-white;
        box-shadow: .1em .1em 0  $c-white;
        margin-bottom: $base-unit * 2;
    }

    div {
        display: none;
    }

    dt {
        font-size: 2rem;
        margin-bottom: .125em;
        font-weight: 600;
    }

    dd {
        font-size: 1.5rem;
        text-align:left;
        margin-left: 0;
        margin-bottom: .33em;
    }
    a {
        text-decoration: none;
        color: $c-white;
        &:hover {
            color: transparentize($c-white, .25);
        }
    }

    button {
        font-size: 2rem;
        display: block;
        border: none;
        background-color: $c-red;
        border: 2px solid $c-white;
        color: $c-white;
        padding: .24em .5em;
        margin: 0 auto;
        &:hover, &focus {
            background-color: $c-white;
            color: $c-red;
            border-color: $c-red;
        }
    }

}
