.slide {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10% 15%;
    @media screen and ( min-width: $mobile ) and ( max-width:  $tablet ) {
        padding: 0 15%;
    }
    blockquote {
        margin: 0;
        padding: 0;

    }
    p {
        font-size: 5rem;
        color: $c-white;
        quotes: "\201C""\201D""\2018""\2019";
        position: relative;
        @include base-text-shadow( $c-black );
        @media screen and ( min-width: $mobile ) and ( max-width:  $tablet ) {
            font-size: 3rem;
        }
        &:before{
            font-size: 10rem;
            content: open-quote;
            position: absolute;
            top: -0.5em;
            left: -0.5em;

        }
        &:after {
            font-size: 10rem;
            content: close-quote;
            position: absolute;
            bottom: -1em;
            right: 0;

        }
    }
    a {
        font-size: 1rem;
        color: $c-white;
        text-decoration: none;
    }
}

.slick-arrow {
    z-index: 100;
}

.slick-prev {
    left: 5.2%;
    width: initial;
    height: initial;
}

.slick-next {
    right: 8%;
    width: initial;
    height: initial;
}

.slick-prev:before, .slick-next:before {
    font-size: 4rem;
}

.slick-dots {
    bottom: 5%;

    li {
        button:before {
            width: 1em;
            height: 1em;
            font-size: 1rem;
            color: $c-dark-grey;

            opacity: 0.75;
        }
        &.slick-active {
            button:before {
                color: $c-light-grey;
            }
        }
    }
}
