$base-font-size: 14px;
$base-unit: 10px;
$base-font-family: sans-serif;
$padding: $base-unit * 2;

// colours
$c-red: #CF142B;
$c-blue: #00247D;
$c-yellow: #FFCC00;
$c-black: #000;
$c-white: #fff;
$c-dark-grey: #ccc;
$c-light-grey: #eee;
$c-error: rgba(215, 84, 82, 1.0);
