<article>
        <time id="js-email-time"></time>
        <p id="js-email-mp-title"></p>
        <address>
            <p>House of Commons</p>
            <p>London</p>
            <p>SW1A 0AA</p>
        </address>
        <p>Dear <span id="js-email-addressed"></span>,</p>
        <p>
            <strong>Re.: Basic Constitutional Freedoms in Venezuela</strong>
        </p>
        <p>
            I am writing to draw your attention to the recent developments in Venezuela and to kindly request your help, as a resident of the constituency you represent, to raise this matter before the British Parliament.
        </p>

        <p>
            During the last three months Venezuela has seen a general outburst of anti-government protests across the country. Years of economic crisis, hyper-inflation, severe food shortages and grave human rights violations have increased social discontent and heightened tension between political actors.
        </p>

        <p>
            The situation escalated into violence after a number of institutions controlled by the ruling party, took a series of decisions aimed to suppress political dissent and to illegitimately increase the government’s power, including striping the opposition-controlled National Assembly of its authority, illegally barring opposition leaders from running for public office and using military courts to trial political activists. Additionally, in an attempt to circumvent the incumbent National Assembly, President Nicolas Maduro recently called for a new Constitutional Assembly where more than half of its members will not be elected by direct, universal and secret suffrage, as required by the existent constitution and international standards.
        </p>

        <p>
            The government assault to democracy has triggered massive demonstrations across the country. The protests have been disproportionally repressed by official security forces and armed paramilitary groups. As of the date of this letter, the brutal repression has resulted in more than 90 protesters killed, more than 15,000 injured and near 1,200 detained.
        </p>
        <p>
            The UN Human Rights Commission, the US Congress, the EU Parliament, the Spanish Legislature and the Organisations of American States have strongly condemned the disproportionate use of public force and expressed their concern for the breach of democratic order in Venezuela. On 9 April 2016 the UK Foreign Office issued a short statement also condemning the recent developments in the country.
        </p>

        <p>
            As MP in one of the most influencing and leading democracies within the International Community I would like to request your help to voice Venezuela’s current developments at the British Parliament. I strongly believe that this honourable Parliament cannot remain indifferent to a situation that contradict British values, and should take a position as soon as possible, as Venezuela is listed in the Human Rights Priority Country Report published by the Foreign Commonwealth Office on 26 April 2016.
        </p>

        <p>
            I thank you in advance for your consideration and would be happy to discuss this issue with you further as well as to provide you with more detailed information if required.
        </p>

        <p>Truly yours,</p>
        <form id="js-email-form">
            <label for="name">What is your name?</label>
            <input type="text" placeholder="Your name" id="name" class="js-email-name" autofocus>
            <button type="submit">Send email</button>
        </form>

</article>
