<article>
        <time id="js-email-time"></time>

        <p>Dear <span id="js-email-addressed"></span>,</p>
        <address>
            <p>House of Commons</p>
            <p>London</p>
            <p>SW1A 0AA</p>
        </address>
        <p>
            <strong>Re.: Basic Constitutional Freedoms in Venezuela</strong>
        </p>
        <p>
            Playing an active role as MP in one of the most influent and leading democracies within the International Community must be the toughest, yet the most grateful experiences a civil servant could achieve. You not only represent my interests as a UK resident, but also serve as an inspiring example to all other foreign government systems based in the respect of Constitutional Freedoms and Human Rights.
        </p>
        <p>
            Bearing that in mind, I would deeply appreciate if you could push the debate in regards to the current situation in Venezuela, where over 80 people have been assassinated, and more than 15.000 have been injured as a result of the brutal repression the National Armed Forces have executed on behalf the Government to silence the protests for the food and medicine scarcity, and the basic constitutional guarantees.
        </p>
        <p>
            With all due respect, I strongly believe that this honourable Parliament cannot remain indifferent, and should take a position as soon as possible.
        </p>

        <p>Truly yours,</p>
        <form id="js-email-form">
            <label for="name">What is your name?</label>
            <input type="text" placeholder="Your name" id="name" class="js-email-name" autofocus>
            <button type="submit">Send email</button>
        </form>

</article>
