<form class="form" action="/postcode" method="post" id="js-postcode-form">
    <label for="postcode">Postcode</label>
    <input type="text" name="postcode" value="" id="postcode">
    <button type="submit">Get your constituency</button>
</form>
