<main class="fullscreen">
	<section class="fullscreen__section js-fullscreen-section frontpage" id="full-screen-section-1">
		<h1>Venezuelan <wbr> Appeal</h1>
	</section>
	<section class="fullscreen__section js-fullscreen-section" id="full-screen-section-2">
		<% include slick.ejs %>
	</section>
	<section class="fullscreen__section js-fullscreen-section cta" id="full-screen-section-3">
		<article >
			<h1>What you can do?</h1>
			<p>ask to your MP his/her stance on this issue</p>
		</article>
	</section>
	<section class="fullscreen__section js-fullscreen-section postcode-form" id="full-screen-section-4">
		<% include postcode-form.ejs %>
	</section>
	<section class="fullscreen__section js-fullscreen-section mp js-mp-reveal" id="full-screen-section-5">
		<% include mp.ejs %>
	</section>
	<section class="fullscreen__section js-fullscreen-section email js-letter-reveal" id="full-screen-section-6">
		<% include email.ejs %>
	</section>
	<% include fullscreen-nav.ejs %>
</main>
