<main class="fullscreen">
	<section class="fullscreen__section js-fullscreen-section" id="full-screen-section-1">Some section</section>
	<section class="fullscreen__section js-fullscreen-section" id="full-screen-section-2">Some section</section>
	<section class="fullscreen__section js-fullscreen-section" id="full-screen-section-3">
        <form class="form" action="/postcode" method="post" id="js-postcode-form">
            <label for="postcode">Postcode</label>
            <input type="text" name="postcode" value="" id="postcode">
            <button type="submit">Get your constituency</button>
        </form>
	</section>
	<section class="fullscreen__section js-fullscreen-section" id="full-screen-section-4">Some section</section>
	<nav class="fullscreen__nav">
		<ul id="js-fullscreen-section-nav">
			<li>
				<a href="#full-screen-section-1">
					<button>
					</button>
				</a>
			</li>
			<li>
				<a href="#full-screen-section-2">
					<button>
					</button>
				</a>
			</li>
			<li>
				<a href="#full-screen-section-3">
					<button>
					</button>
				</a>
			</li>
			<li>
				<a href="#full-screen-section-4">
					<button>
					</button>
				</a>
			</li>
		</ul>
	</nav>
</main>
