<main class="fullscreen">
	<section class="fullscreen__section js-fullscreen-section" id="full-screen-section-1">
		<h1>Venezuelan appeal</h1>
	</section>
	<section class="fullscreen__section js-fullscreen-section" id="full-screen-section-2">
		<% include slick.ejs %>
	</section>
	<section class="fullscreen__section js-fullscreen-section" id="full-screen-section-3">
		<% include postcode-form.ejs %>
	</section>
	<section class="fullscreen__section js-fullscreen-section" id="full-screen-section-4">Some section</section>
	<% include fullscreen-nav.ejs %>
</main>
