<article>
    <dl>
        <div id="js-mp">
            <dt>Member of Parliament</dt>
            <dd></dd>
        </div>
        <div id="js-mp-constituency">
            <dt>Constituency</dt>
            <dd></dd>
        </div>
        <div id="js-mp-email">
            <dt>Email</dt>
            <dd>
                <a href="#" target="_blank"></a>
            </dd>
        </div>
        <div id="js-mp-twitter">
            <dt>Twitter</dt>
            <dd>
                <a href="#" target="_blank"></a>
            </dd>
        </div>
        <div id="js-mp-website">
            <dt>Website</dt>
            <dd>
                <a href="#" target="_blank">
                    
                </a>
            </dd>
        </div>
    </dl>
</article>
<button id="js-mp-button">Continue</button>
