<article>
    <h1>Member of Parliament</h1>
    <p id="js-mp"></p>
    <h2>Constituency</h2>
    <p id="js-mp-constituency"></p>
    <h3>Email</h3>
    <a id="js-mp-email"></a>
    <h3>Twitter</h3>
    <a id="js-mp-twitter"></a>
</article>
