<form class="form" action="/postcode" method="post" id="js-postcode-form">
    <label for="postcode">What is your postcode?</label>
    <input type="text" name="postcode" value="" id="postcode" placeholder="Postcode">
    <button type="submit">Get your MP</button>
</form>
