
<div class="slider" id="js-slider">
    <% for( let i = 0; i < news.length; i++) { %>
        <% let article = news[i] %>
        <article style=" ">
            <blockquote>
                <p>
                    <%= article.title%>
                </p>
                <footer>
                    <cite>
                        <a href="  " target="_blank">

                        </a>
                    </cite>
                </footer>
            </blockquote>
        </article>
        <% } %>
</div>
